/* ============================================
	Mobile Devices: 0 - 480 pixels
   ============================================
*/

@media only screen and (max-width: 480px) {
	img {
		width: 100%;
	}
	
	nav.horizonal {
		-webkit-order: 99;
		order: 99;
	}
	body > footer {
		-webkit-order: 100;
		order: 100;
	}
}